<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/toggle.css">
</head>
{{!-- To show images from binary data to client side
<img src="data:image/jpg;based64,{binary data}">
--}}

<body>
    <header>
        <nav>
            <div class="left-side">
                <div class="logo"><img src="https://unsplash.it/30/30" alt="left-side"></div>

                <ul>
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
            <div class="right-side-button">
                <div class="profile">
                    <div class="profile-image">
                        <img src='https://dev-jb-007-task-manager.herokuapp.com/users/me/avtar'>
                    </div>
                    <div class="profile-list">
                        <ul>
                            <li><a onclick="signout()">Sign Out</a></li>
                            <li><a href="https://dev-jb-007-task-manager.herokuapp.com/mainpage/editprofile">Edit Profile</a></li>
                        </ul>
                    </div>
                </div>
        </nav>
        <div class="automatic-type-writer">
            <h1>Get your task here</h1>
        </div>
    </header>
    <div class="sort">
        <div class="modified-created">
            <div>
                <p>Modified</p>
                <label for="modified" class="toggle-switchy" data-style='rounded' data-size="xs" data-color='blue'
                    data-text="false">
                    <input type="checkbox" onclick="tasks(this)" id="modified">
                    <span class="toggle">
                        <span class="switch"></span>
                    </span>
                </label>
            </div>
            <div>
                <p>Created</p>
                <label for="created" class="toggle-switchy" data-style='rounded' data-size="xs" data-color='blue'
                    data-text="false">
                    <input type="checkbox" onclick="tasks(this)" id="created">
                    <span class="toggle">
                        <span class="switch"></span>
                    </span>
                </label>
            </div>
        </div>
        <div class="completed-uncompleted">
            <div>
                <p>Completed</p>
                <label for="truetask" class="toggle-switchy" data-style='rounded' data-size="xs" data-color='blue'
                    data-text="false">
                    <input type="checkbox" onclick="tasks(this)" id="truetask">
                    <span class="toggle">
                        <span class="switch"></span>
                    </span>
                </label>
            </div>
            <div>
                <p>Pending</p>
                <label for="falsetask" class="toggle-switchy" data-style='rounded' data-size="xs" data-color='blue'
                    data-text="false">
                    <input type="checkbox" onclick="tasks(this)" id="falsetask">
                    <span class="toggle">
                        <span class="switch"></span>
                    </span>
                </label>
            </div>
        </div>
        <div class="ascending-descending">
            <div>
                <p>Ascending</p>
                <label for="Ascending" class="toggle-switchy" data-style='rounded' data-size="xs" data-color='blue'
                    data-text="false">
                    <input type="checkbox" onclick="tasks(this)" id="Ascending">
                    <span class="toggle">
                        <span class="switch"></span>
                    </span>
                </label>
            </div>
            <div>
                <p>Descending</p>
                <label for="Descending" class="toggle-switchy" data-style='rounded' data-size="xs" data-color='blue'
                    data-text="false">
                    <input type="checkbox" checked onclick="tasks(this)" id="Descending">
                    <span class="toggle">
                        <span class="switch"></span>
                    </span>
                </label>
            </div>
        </div>
    </div>
        
    <section class="main-display">
        <div class="loader">
            <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
        {{!-- <div>
            <div class="card">
                <button id="close1"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path
                            d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z" />
                    </svg></button>
                <div class="task-header">
                    <h3>1</h3>
                    <input type="text" name="" id="">
                </div>
                <div class="task-discription">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam unde iusto beatae odio nostrum
                        cumque,
                        recusandae ad nihil saepe sequi, commodi fugit, voluptatem error dolor a omnis minima modi ut.
                    </p>
                    <textarea name="dicription" id="update-discription" cols="30" rows="10"></textarea>
                </div>
                <div class="edit">
                    <a onclick="tasksoptions(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                            class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                            <path
                                d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                        </svg>
                    </a>
                </div>
                <button id="completed">
                    <div class="scroll-effect">
                        <a onclick="donetask(this)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                class="bi bi-check-lg" viewBox="0 0 16 16">
                                <path
                                    d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z" />
                            </svg>
                        </a>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path
                                d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z" />
                        </svg>

                    </div>
                </button>
                <button id="delete" onclick='deletetask(this)'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path
                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                    </svg>
                </button>
                <button class="text-edit">
                    <a id="updatebtn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-save" viewBox="0 0 16 16">
                            <path
                                d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z" />
                        </svg>
                    </a>
                    <a onclick="update(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-pencil" viewBox="0 0 16 16">
                            <path
                                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                        </svg>
                    </a>
                </button>
            </div>
        </div> --}}
        {{!-- <div>
            <div class="card">
                <button id="close2"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path
                            d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z" />
                    </svg></button>
                <div class="task-header">
                    <h3>2</h3>
                </div>
                <div class="task-discription">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam unde iusto beatae odio nostrum cumque,
                    recusandae ad nihil saepe sequi, commodi fugit, voluptatem error dolor a omnis minima modi ut.
                </div>
                <div class="edit">
                    <a onclick="tasksoptions(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                            class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                            <path
                                d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <button id="close3"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path
                            d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z" />
                    </svg></button>
                <div class="task-header">
                    <h3>3</h3>
                </div>
                <div class="task-discription">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam unde iusto beatae odio nostrum cumque,
                    recusandae ad nihil saepe sequi, commodi fugit, voluptatem error dolor a omnis minima modi ut.
                </div>
                <div class="edit">
                    <a onclick="tasksoptions(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                            class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                            <path
                                d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <button id="close4"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path
                            d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z" />
                    </svg></button>
                <div class="task-header">
                    <h3>4</h3>
                </div>
                <div class="task-discription">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam unde iusto beatae odio nostrum cumque,
                    recusandae ad nihil saepe sequi, commodi fugit, voluptatem error dolor a omnis minima modi ut.
                </div>
                <div class="edit">
                    <a onclick="tasksoptions(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                            class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                            <path
                                d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <button id="close5"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path
                            d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z" />
                    </svg></button>
                <div class="task-header">
                    <h3>5</h3>
                </div>
                <div class="task-discription">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam unde iusto beatae odio nostrum cumque,
                    recusandae ad nihil saepe sequi, commodi fugit, voluptatem error dolor a omnis minima modi ut.
                </div>
                <div class="edit">
                    <a onclick="tasksoptions(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                            class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                            <path
                                d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <button id="close6"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path
                            d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z" />
                    </svg></button>
                <div class="task-header">
                    <h3>6</h3>
                </div>
                <div class="task-discription">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam unde iusto beatae odio nostrum cumque,
                    recusandae ad nihil saepe sequi, commodi fugit, voluptatem error dolor a omnis minima modi ut.
                </div>
                <div class="edit">
                    <a onclick="tasksoptions(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                            class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                            <path
                                d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div> --}}
    </section>
    <div class="pagination">
        <button onclick="tasks(this)" id="prevpage">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
            </svg>
        </button>
        <button onclick="tasks(this)" id="nextpage"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
            </svg></button>
    </div>
    <div class="add-task">
        <div class="cross-image">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-lg"
                viewBox="0 0 16 16">
                <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z" />
            </svg>
        </div>
        <div class="task-list">
            <ul>
                <li>
                    <a id="show-task-btn" onclick="showtaskcard()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path
                                d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="add-task-card">
        <div class="header">
            <h4>Header</h4>
            <input type="text" name="header" id="header">
        </div>
        {{!-- <input type="text" name="discription" id="discription"> --}}
        <div class="discription">
            <h4>Description</h4>
            <textarea name="discription" id="discription" cols="30" rows="10"></textarea>
        </div>
        <button id="addtask" onclick="addtask()">Add Task</button>
    </div>
</body>
<script src="/javascript/main.js"></script>

</html>



{{!-- <div class="sort">
    <form action="/users/me/avtar" method="post" enctype="multipart/form-data">
        <input type="file" name="profileimage" id="profileimage">
        <input type="submit" value="submit">
    </form>
    <label for="truetask">Completed</label>
    <input type="checkbox" name="truetask" id="truetask" onclick='tasks()'>
    <label for="falsetask">Incomplete</label>
    <input type="checkbox" name="falsetask" id="falsetask" onclick="tasks()">
    <button onclick="showsort()">Sort By</button>
    <div class="sortBy" style="display:none">
        <label for="modified">Modified</label>
        <input type="radio" name="criteria" id="modified" onclick='tasks()'>
        <label for="created">Created</label>
        <input type="radio" name="criteria" id="created" onclick='tasks()'>
        <br>
        <label for="Ascending">Ascending</label>
        <input type="radio" name="order" id="Ascending" onclick='tasks()'>
        <label for="Descending">Descending</label>
        <input type="radio" name="order" id="Descending" onclick='tasks()'>
    </div>
</div> --}}

{{!-- <div class="tasks">
</div>
<fieldset>
    <legend>Create a task</legend>
    {{!-- <input type="text" name="discription" id="discription">
    <button id="addtask" onclick="addtask()">Add Task</button>
    <button id="nextpage" onclick="tasks(this)">Next</button>
    <button id="prevpage" onclick="tasks(this)">Previous</button> --}}
</fieldset> --}}